body{
    background-color: rgb(42, 44, 48);
    color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;	
}

p{
    text-align: justify;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

section{
    border-radius: 10px;
}

#about-me{
    background-color:#3A3B40;
    margin: 33px;
    padding: 33px;
}

#education 
{
    background-color:#3A3B40;
    margin: 33px;
}

#skill {
    background-color:#3A3B40;
    margin: 33px;
}

#experience{
    background-color:#3A3B40;
    margin: 33px;
}

img {
    display: block;
    width: 100%;
    box-shadow: 0 0 5px #fefefe;
}

h3{
    padding-bottom: 20px;
    font-size: 20px;
}

#skill h3{
    text-align: center;
    padding-bottom: 0px;
}

.col-sm-3{
padding: 0 30px 30px;
}

.progress{
height: 20px;
}

ul{
    padding-left: 0px;
}

li{
    list-style-type: none;
}

#education h3 {
    margin-bottom: 18px;
    display: inline-block;
    padding: 15px 45px;
    min-height: 50px;
    position: relative;
    left: -45px;
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}

#experience h3{
    margin-bottom: 18px;
    display: inline-block;
    padding: 15px 45px;
    min-height: 50px;
    position: relative;
    left: -45px;
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}